body {
    background-color: black;
    font-family:'Source Code Pro', monospace; 
    color: white;
    margin: 30px;

}

nav {
    text-align: center;
    word-spacing: 2em;
}

.nav > li {
    display: inline-block;
    font-size: 13px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

.nav > li > a:hover {
    text-decoration: none;
    color: pink;
}

.logo {
    display: block;
    padding: 10px;
    text-align: center;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 603px;
    width: 1366px;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
    color: white;    
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

h1 {
    font-size: 70px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
}

p {
    font-size: 20px;
    text-align: left;
}

.crop {
    position: absolute;
    left: -300%;
    right: -100%;
    top: -650%;
    bottom: -400%;
    margin: auto; 
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;

}    

h2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.bio {
    text-align: center;
    font-size: 15px;
    margin-left: 450px;
    margin-right: 450px;
    line-height: 22px;

}

footer {
    text-align: center;
    color: white;
    padding-top: 15px;
    word-spacing: 1em;
}

.footer > li {
    display: inline-block;
    font-size: 13px;
    font-size: 11px;
}

.footer > li > a {
    text-decoration: none;
    color: white;
}