body {
    background-color: black;
    font-family:'Source Code Pro', monospace; 

}

nav {
    text-align: center;
    word-spacing: 2em;
}

.nav > li {
    display: inline-block;
    font-size: 13px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

.homePic {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 603px;
    width: 1366px;
    overflow: hidden;
}

.crop {
    position: absolute;
    left: -300%;
    right: -100%;
    top: -650%;
    bottom: -400%;
    margin: auto; 

}

footer {
    text-align: center;
    color: white;
    padding-top: 15px;
    word-spacing: 1em;
}

.footer > li {
    display: inline-block;
    font-size: 13px;
    font-size: 11px;
}

.footer > li > a {
    text-decoration: none;
    color: white;
}