body {
    background-color: black;
    font-family:'Source Code Pro', monospace; 
    color: white;
    margin: 30px;

}

#page_content {
    max-width: 800px ;   
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    word-spacing: 2em;
    /*    border: red 1px solid;*/
}

.nav > li {
    display: inline-block;
    font-size: 13px;
}

.nav > li > a {
    text-decoration: none;
    color: white;
}

/* Current page link style. */
.nav > li > a.current_page {
    color: hotpink ;
    font-weight: bold;
}

.nav > li > a:hover {
    text-decoration: none;
    color: hotpink;
}

.logo {
    display: block;
    padding: 10px;
    text-align: center;
}


.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 603px;
    width: 1366px;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
    color: white;    
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 50px;
}

h1 {
    font-size: 45px;
    font-family:'Source Code Pro', monospace; 
    font-weight: bold;
    text-align: left;

}

h4 {
    font-size: 20px;
    text-align: center;


}

p {
    font-size: 20px;
    text-align: left;
}


.crop {
    position: absolute;
    left: -300%;
    right: -100%;
    top: -650%;
    bottom: -400%;
    margin: auto; 
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;

}   

.image_grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    /*    width: 800px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em ;
}

.character {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

   

}

/*
.bioContainer {

}
*/


/*
.characters {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;

}
*/


h2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.bio {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    color: white;
    padding-top: 15px;
    word-spacing: 1em;
}

.footer > li {
    display: inline-block;
    font-size: 13px;
    font-size: 11px;
}

.footer > li > a {
    text-decoration: none;
    color: white;
}