body{
    background-color: black;
    color: white;
}

#HomeGrid {
    display: grid;
    grid-template-rows: 1 fr 1fr 1fr;

}

.section1{
    border: 2px solid white;
    width: 1366x;
    height: 87px;

}

.section2{
    border: 2px solid white;
    height: 603px;
    width: 1366x;
}

.section3{
    border: 2px solid white;
    width: 1366x;
    height: 87px


}