/* Put your CSS here. */

body{ 
    line-height: 21px;
}

h1{
    font-family: Georgia; 
    font-size: 20pt; 
    line-height: 5px;
}

h2 {
    font-family: Georgia;
    font-weight: 100;
    font-size: 12pt;
}

#author {
    text-transform: uppercase;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
    color: #6D6E70;
    line-height: 19.04px;
    display: none;
}

.p1 {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: #40AD48;
}

.p2 {
    font-family: Georgia, serif;
    font-size: 12pt;
    color: #24408E;
    
}

.p3 {
    font-family: Courier, monospace;
    font-size: 12pt;
    color: #EC008B;
}
/*

p{
    color: black !important;
}*/
