body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.nav {
    color: black;
    list-style: none;
    text-align: right;
    padding: 0; 
}

.nav > li {
    display: inline-block;
    margin-right: 25px;
    padding-top: 15px;
    position: relative;
    font-size: 13px; 
}

.nav > li > a {
    text-decoration: none;
    color: black;
}

.nav > li> a::before {
    content: '';
    display: block;
    height: 10px;
    background-color: #FFFF7E;
    bottom: 0%;
    position: absolute;
    width: 0%;
    transition: all ease-in-out 250ms; 
    z-index: -1;
}

.nav > li > a:hover::before {
    width: 100%;
}

.logo {
    color: black;
    float: left;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.logo > a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.yellow-box {
    width: auto;
    height: 500px; 
    margin-right: 25px;
    margin-left: 15px;
    padding-top: 15px;
    background-color: #FFFF7E;
}

.centered {
    font-size: 100px; 
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
