body {
    margin: 3em ;
    font-family: helvetica;
}

/*header*/

header {
    text-align: center;
    color: black;
}

.nav {
    color: black;  
    padding: 20px;
    list-style: none;
    word-spacing: 1em;
    text-decoration: none;
}

.nav > li {
    display: inline-block;
    padding: 13px;
    position: relative;
    font-size: 13px;   
    text-decoration: none;
}

.nav > li > a {
    text-decoration: none;
    color: black;
}

#jyk {
    text-decoration: none;
    color: black;
    list-style: none;
    display: inline-block;

}

a {
    text-decoration:none;
    color: black;
}

/*
.nav > li> a::before {
content: '';
display: block;
height: 10px;
background-color: #FFFF7E;
position: absolute;
width: 0%;
transition: all ease-in-out 250ms; 
z-index: -1;
}

.nav > li > a:hover::before {
width: 70%;
}
*/

/*work*/

#grid1 {
    display: grid ;
    grid-template-columns: [start] 1fr [middle] 1fr [end] ;
    grid-template-rows: 400px 500px 500px ; /* FIXME */
    /*                grid-row-gap: 1em ;*/
}

.label1 {
    /*    background-color: red ;*/
    font-family: Helvetica ;
    font-weight: bold ;
    font-size: 8em ;
    position: relative ;
    align-self: end ;
    bottom:-60px ;
    /*
    position: relative works in conjunction with the top, bottem, left, right
    */

}

.label1, .full_width1 {
    grid-column-start: start ;
    grid-column-end: end ;

}

.left_col1 {
    grid-column-start: start ;
    grid-column-end: middle ;
    /*    background-color: lightgreen;*/
    /*    text-align: center;*/
    font-weight: bold;
    line-height: 500px;
    font-size: 30px;
}

div.bg_grid_image {
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover ;
}

div.branding {
    background-image: url(img/pic1.jpg) ;
}

div.advertising {
    background-image: url(img/Yutkins-Kennedy_Ad1%20copy.jpg) ;
}

div.print {
    background-image: url(img/book1.jpg) ;
    color: white;
}

div.ui {
    background-image: url(img/App_Janina%20Yutkins-Kennedy.jpg) ;
}


div.text_container {
    font-family: Helvetica ;
    color: #ffffff ;
    text-align: center ;
    display: grid;
}
p.text, p.text a {
    margin: auto;
    color: #000 ;
    /*    text-shadow: 0px 2px 15px rgba(255,255,255,.7) ;*/
    /*    transition: color .3s ease;*/
}

p.text a:hover {
    color: red;
}


.right_col1 {
    grid-column-start: middle ;
    grid-column-end: end ;
    font-weight: bold;
    line-height: 500px;
    font-size: 30px;
}

.full_width1 {
    grid-column-start: start ;
    grid-column-end: middle ;
    text-align: center;
    font-weight: bold;
    line-height: 500px;
    font-size: 30px;


}

.boop1 {
    grid-column-start: middle ;
    grid-column-end: end ;
    text-align: center;
    font-weight: bold;
    line-height: 500px;
    font-size: 30px;
}

/*about*/

section {
    /*                background-color: blue ;*/
    /*                border: 2px solid blue ;*/
}

#grid2 {
    /*    border: solid blue;*/
    display: grid ;
    grid-template-columns: [start] 1fr [middle] 1fr [end] ;
    grid-template-rows: 400px 500px  ; /* FIXME */
    /*                grid-row-gap: 1em ;*/
}

.label {
    /* background-color: red ;*/
    /*
    font-family: Helvetica ;
    font-weight: bold ;
    font-size: 8em ;
    position: relative ;
    top:314px ;
    */
    /*
    position: relative works in conjunction with the top, bottem, left, right
    */

    /*    background-color: red ;*/
    font-family: Helvetica ;
    font-weight: bold ;
    font-size: 8em ;
    position: relative ;
    align-self: end ;
    bottom:-60px ;

}

.label {
    grid-column-start: start ;
    grid-column-end: end ;

}

.left_col {
    grid-column-start: start ;
    grid-column-end: middle ;
    background-color: skyblue;
    font-weight: bold;
    text-align: center;
    line-height: 500px;
    font-size: 30px;    

}

.right_col {
    grid-column-start: middle ;
    grid-column-end: end ;
    background-color: pink;
    font-weight: bold;
    text-align: center;
    line-height: 500px;
    font-size: 30px;
}

/*
.full_width {
background-color: blue ;
}
*/

.info {
    height: auto;
    /*    background-color: aqua;*/
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-top: 150px;

}


#work_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

#page_content {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

#page_content {
    max-width: 800px ;
/*    border: solid red 1px;*/

}

.mePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    text-align: center;
    color: white;
    padding-top: 15px;
    word-spacing: 1em;
}

.footer > li {
    display: inline-block;
    font-size: 13px;
    font-size: 11px;
}

.footer > li > a {
    text-decoration: none;
    color: gray;
}
